@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
	font-family: 'Open Sans', sans-serif;
	background: $bodyBgColor;
}
.wrapper {
	width: 100%;
}
.topBox	{
	width: 100%;
	height: 40px;
	background: $bgColorTopBox;
}
.container {
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
// social
.social {
	margin: 12px 0 0 0;
	display: inline-block;
	vertical-align: top;
}
.socialItem {
	width: 13px;
	height: 12px;
	margin: 0 1px 0 1px;
	display: inline-block;
}
.socialLink {
	width: 13px;
	height: 12px;
	display: inline-block;
	background: url(../img/spraits/social.png);
	opacity: 1;
	transition: .3s;
}
.facebook {
	background-position: 0 0;
}
.twitter {
	background-position: -15px 0;
}
.google {
	background-position: -35px 0;
}
.linkedin {
	background-position: -54px 0;
}
.socialLink:hover {
	opacity: .7;
}
// contact
.contact {
	margin: 12px 0 0 0;
	vertical-align: top;
	display: inline-block;
	float: right;
}
.contactItem {
	display: inline-block;
}
.contactLink {
	color: $colorContact;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	opacity: 1;
	transition: .3s;
}
.contactPhone {
	padding: 0 0 0 15px;
	background: url(../img/siteImg/phone.png) no-repeat;
}
.contactEmail {
	font-size: 13px;
	margin: 0 0 0 10px;
	padding: 0 0 0 17px;
	background: url(../img/siteImg/mail.png) no-repeat;
}
.contactLink:hover {
	opacity: .7;
}
.boxlogoMenu {
	position: relative;
	z-index: 1;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.22);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.22);
}
.logo {
	color: $colorLogoText;
	font-size: 30px;
	margin: 30px 0 30px 0;
	display: inline-block;
	text-decoration: none;
	font-weight: 600;
	transition: .3s;
	opacity: 1;
}
.logo:hover {
	opacity: .7;
}
// menu
.menu {
	vertical-align: top;
	display: inline-block;
	float: right;
}
.menuItem {
	margin: 35px 20px 0 20px;
	display: inline-block;
}
.menuLink {
	color: $colorTextMenu;
	font-weight: 600;
	text-decoration: none;
	opacity: 1;
	transition: .3s;
}
.menuSign {
	color: $colorTextSign;
	border: 2px solid $colorTextSign;
	padding: 7px 20px;
	border-radius: 30px;
}
.menuLink:hover {
	opacity: .7;
}
//  header
header {
	padding: 20px 0 84px 0;
	background: $headerBgColor;
}
.HeaderTitle {
	margin: 110px 0 0 0;
	text-align: center;
	font-size: 30px;
}
.headerText {
	margin: 22px 0 0 0;
	line-height: 25px;
	text-align: center;
}
.headerImg {
	position: relative;
	left: 50%;
	right: 50%;
	margin: 38px 0 0 -340px;
}
.servisBox {
	padding: 30px 0;
	text-align: center;
	background: $colorBgServis;
}
.servisEmail {
	display: inline-block;
	padding: 12px 0 12px 10px;
	border-radius: 20px 0 0 20px;
	border: 1px solid $colorBdServis;
}
.servisSumit {
	color: $colorTextSubmitServis;
	display: inline-block;
	padding: 12px 15px 12px 10px;
	position: relative;
	right: 5px;
	border-radius: 0 25px 25px 0;
	background: $colorBgSubmitServis;
	border: 1px solid $colorBdServis;
	transition: .2s;
}
.servisSumit:hover {
	opacity: .8;
}
.sevisText {
	opacity: .8;
	margin: 10px 0 0 0;
	font-size: 13px;
}
.community {
	background: url(../img/community/community.jpg);
}
.communityBox {
	width: 100%;
	padding: 0 0 50px 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.5);
}
.communityTitle {
	color: $communityTitleColor;
	font-size: 35px;
	padding: 100px 0 0 0;
}
.communitySlid {
	width: 600px;
	padding: 20px 10px;
	margin: 45px 0 45px 0;
	background-color: rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.2);
	display: inline-block;
}
.slider {
	width: 500px;
	display: inline-block;
}
.slidTop,
.slidBtn {
	width: 28px;
	height: 15px;
	display: block;
	margin: 5px 0 5px -14px;
	position: relative;
	left: 50%;
	background: url(../img/community/btn.png);
	transition: .2s;
}
.slidBtn {
	background-position: 0 15px;
}
.slidTop:hover,
.slidBtn:hover {
	opacity: .4;
}
.slider {
	height: 60px;
	overflow: hidden;
	margin: 20px 0 0 0;
}
.sliderimgBox {
	float: left;
}
.sliderTitle {
	color: $colorCommunityTitle;
	font-size: 20px;
	text-transform: uppercase;
}
.sliderText {
	color: $colorCommunityText;
	font-size: 14px;
	margin: 5px 0 5px 0;
	opacity: .8;
}
.communitySteps {
	display: inline-block;
	margin: 0 20px 0 20px;
}
.communityCircle {
	width: 65px;
	height: 65px;
	display: inline-block;
	border-radius: 35px;
	background: $colorCommunityCircle;
	transition: .2s;
}
.communityStepsText a {
	color: $colorCommunityStepsText;
	text-decoration: none;
	display: inline-block;
	min-width: 150px;
	margin: 10px 0 0 0;
}
.communityCircle i {
	color: $colorcommunityCircleI;
	margin: 16px 0 0 0;
	display: inline-block;
}
.communitySteps:hover .communityCircle {
	background: $colorCommunityCircleWhite;
}
.communitySteps:hover .communityCircle i {
	color: $colorcommunityCircleIGreen;
}
.affordable {

}
.affordableTitle {
	color: $colorAffordableTitle;
	text-align: center;
	margin: 100px 0 0 0;
	font-size: 35px;
}
.affordablelink {
	margin: 50px 0 30px 0;
	text-align: center;
	position: relative;
}
.affordableBusiness {
	padding: 10px 30px;
	position: relative;
	left: 3px;
	border-radius: 20px 0 0 20px;
	text-decoration: none;
	font-size: 14px;
	border: 1px solid #000;
}
.affordableCommunity {
	padding: 10px 30px;
	position: relative;
	right: 3px;
	border-radius: 0 20px 20px 0px;
	text-decoration: none;
	font-size: 14px;
	border: 1px solid #000;
}
.affordableOr {
	position: absolute;
	z-index: 1;
	text-transform: uppercase;	
	margin: -8px 0 0 -20px;
	padding: 8px 5px;
	border-radius: 20px;
	text-decoration: none;
	background: $colorAffordableOrBg;
}
.affordableBusiness,
.affordableCommunity,
.affordableOr {
	color: $colorAffordableOrText;
	border: 1px solid $colorAffordableOrBd;
}
.affordableOr {
	color: $colorAffordableOrTexts;
}
.affordableActive {
	color: $colorAffordableActiveText;
	background: $colorAffordableActiveBg;
}
.affordableBoxBusiness {
	text-align: center;
}
.BoxBusinessPrice {
	width: 268px;
	margin: 45px 22px 45px 22px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid $colorBgBoxBusinessPrice;
	transition: .3s;
}
.BoxBusinessPriceLineTop {
	width: 73px;
	border: 2px solid $colorBoxBusinessPriceLineTop;
	margin: 0 0 0 95px;
}
.BoxBusinessPriceTitle {
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0 0 0;
}
.priceBox {
	width: 268px;
	height: 72px;
	margin: 25px 0 0 0;
	padding: 25px 0 0 0;
	background: url(../img/Affordable/pricebg.png);
	text-align: center;
}
.priceBoxMoney {
	font-size: 25px;
}
.priceBoxMoneyText {
	font-size: 13px;
	opacity: .7;
}
.BoxBusinessPriceLink {
	color: $colorBoxBusinessPriceLink;
	font-weight: 600;
	display: inline-block;
	margin: 10px 0 10px 0;
	text-decoration: none;
}
.BoxBusinessPriceItem i {
	color: $colorBoxBusinessPriceItemI;
}
.BoxBusinessPriceItem 
.PriceItemNoActive {
	color: $colorPriceItemNoActive;
}
.BoxBusinessPriceFreeNow {
	color: $colorBoxBusinessPriceFreeNowBdText;
	border: 1px solid $colorBoxBusinessPriceFreeNowBd;
	padding: 10px 35px;
	border-radius: 20px;
	display: inline-block;
	text-decoration: none;
	margin: 10px 0 10px 0;
	text-transform: uppercase;
}
.BoxBusinessPrice:hover {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
}
.BoxBusinessPrice:hover .BoxBusinessPriceLineTop {
	border: 2px solid $colorBdBoxBusinessPriceLineTopHov;
}
.BoxBusinessPrice:hover .BoxBusinessPriceFreeNow {
	color: $colorBoxBusinessPriceLineText;
	background: $colorBdBoxBusinessPriceLineTopHov;
}
.platform {
	text-align: center;
	background: url(../img/platform/platformBg.png);
}
.platformTitle {
	padding: 0 200px 0 200px;
	display: inline-block;
	margin: 100px 0 10px 0;
	line-height: 40px;
	text-align: center;
	font-size: 35px;
}
.platformCom {
	width: 250px;
	height: 300px;
	text-decoration: none;
	margin: 20px 15px 0 15px;
	padding: 0 0 30px 0;
	display: inline-block;
	vertical-align: top;
	background: $colorBgplatformCom;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
	transition: .3s;
}
.platformBoxIcon {
	margin: 40px 0 0 0;
}
.platformBoxIcon i {
	color: $colorPlatformBoxIcon;
	display: block;
}
.platformLine {
	width: 60px;
	display: inline-block;
	border: 1px solid $colorBdPlatformLine;
}
.platformComTitle {
	color: $colorTextPlatformComTitle;
	margin: 20px 0 0 0;
	text-transform: uppercase;
}
.platformComText {
	color: $colorPlatformComText;
	font-size: 14px;
	padding: 0 10px 0 10px;
	margin: 35px 0 0 0;
	line-height: 20px;
}
.platformCom:hover {
	background: $colorPlatformComBg;
}
.platformCom:hover .platformBoxIcon i {
	color: $colorPlatformComIHover;
}
.platformCom:hover .platformComTitle {
	color: $colorTextPlatformComTitleHover;
}
.platformCom:hover .platformComText {
	color: $colorPlatformComTextHover;
}