// color 
$bodyBgColor: #fff;
$bgColorTopBox: #282828;
$colorContact: #fff;
$colorLogoText: #636666;
$colorTextMenu: #000;
$colorTextSign: #5db442;
$headerBgColor: #4ca368;
$colorBgServis: #efefef;
$colorBdServis: #ccc;
$colorBgSubmitServis: #5db442;
$colorTextSubmitServis: #fff;
$communityTitleColor: #fff;
$colorCommunityTitle: #5daf46;
$colorCommunityText: #fff;
$colorCommunityCircle: #4a6530;
$colorCommunityStepsText: #fff;
$colorcommunityCircleI: #fff;
$colorCommunityCircleWhite: #fff;
$colorcommunityCircleIGreen: #5db442;
$colorAffordableTitle: #000;
$colorAffordableOrBg: #4ca368;
$colorAffordableOrBd: #ececec;
$colorAffordableOrTexts: #fff;
$colorAffordableOrText: #000;
$colorAffordableActiveBg: #5db442;
$colorAffordableActiveText: #fff;
$colorBgBoxBusinessPrice: #ececec;
$colorBoxBusinessPriceLineTop: #ccc;
$colorBoxBusinessPriceLink: #777777;
$colorBoxBusinessPriceItemI: #5db442;
$colorPriceItemNoActive: #ccc;
$colorBoxBusinessPriceFreeNowBd: #ececec;
$colorBoxBusinessPriceFreeNowBdText: #4e4e4e;
$colorBdBoxBusinessPriceLineTopHov: green;
$colorBoxBusinessPriceLineText: #fff;