// color 
$bodyBgColor: #fff;
$bgColorTopBox: #282828;
$colorContact: #fff;
$colorLogoText: #636666;
$colorTextMenu: #000;
$colorTextSign: #5db442;
$headerBgColor: #4ca368;
$colorBgServis: #efefef;
$colorBdServis: #ccc;
$colorBgSubmitServis: #5db442;
$colorTextSubmitServis: #fff;
$communityTitleColor: #fff;