.wrapper {
	width: 1280px;
	margin: 0 auto;
	background: url(../img/bg.jpg);
}
.monitors {
	width: 48px;
	height: 34px;
	margin: 19px 0 0 48px;
	display: inline-block;
	background: url(../img/monitors.png);
}