.contact {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: rgba(44, 44, 44, 0.8);
	background: rgba(44, 44, 44, 0.8);
	opacity: 0;
	display: none;
}
.contactBox {
	width: 60%;
	padding: 10px;
	background: $backgroundContact;
	margin: 2% auto;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}
.contactClose {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 3;
	opacity: .5;
	cursor: pointer;
}
.contactClose:hover {
	opacity: .8;
}
.imgAutorBox {
	width: 200px;
	border: 8px solid #fff;
	overflow: hidden;
}
.imgAutor {
	width: 200px;
}