// body
$fonts: 'Open Sans', sans-serif;
// header
$width: 1160px;
$maAuto: 0 auto;
// menu
$bgMenu: #2a2d32;
$colorFont: #fff;
$menuBD: #000;
$bgMenuFirct: #248cec;
$linkHover: #f4b60d;
// search
$bgSearch: #35383c;
$bdSearch: #000;
$coSearchFont: #909396;