@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,800);
@import 'setting/settings';

body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
.topLine {
	width: 100%;
	height: 80px;
	background: url(../img/header/ruler.png) repeat-x 0 71px $blue;
}
.topLine__box {
	width: 1500px;
	height: 80px;
	margin: $mAuto;
}
.logo {
	color: $white;
	font-size: 35px;
	font-weight: 800;
	line-height: 75px;
	text-transform: uppercase;
	text-decoration: none;
	float: $fl-l;
	opacity: 0.8;
	transition: 0.3s;
	span {
		text-transform: none;
		font-weight: normal;
	}
}
.logo:hover {
	opacity: 1;
}
.menu {
	margin: 33px 0 0 100px;
	display: inline-block;
	float: $fl-l;
}
.menu__item {
	margin: 0 15px 0 0;
	display: inline-block;
}
.menu__link {
	color: $white;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px;
	transition: 0.2s;
}
.menu__link:hover {
	border-radius: 5px;
	padding: 5px;
	background: #62a29e;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(82,139,134,1);
	-moz-box-shadow: 0px 3px 0px 0px rgba(82,139,134,1);
	box-shadow: 0px 3px 0px 0px rgba(82,139,134,1);
}
.seach {
	display: inline-block;
	margin: 28px 0 0 40px;
	float: $fl-l;
}
.search__s {
	padding: 0 5px 0 5px;
	opacity: 0.4;
	height: 20px;
}
.search__s:focus {
	opacity: 0.8;
}
.slider {
	width: 1170px;
	height: 520px;
	overflow: hidden;
	margin: $mAuto;
	background: $sliderBG;
	.slider__img {
		width: 1170px;
		position: relative;
		bottom: 330px;
		z-index: 0;
	}
	.slider__text {
		width: 400px;
		float: $fl-l;
		margin: 200px 0 0 200px;
		text-align: center;
		position: relative;
		z-index: 1;
		.slider__h {
			color: $white;
			padding: 10px;
			border-radius: 5px;
			font-size: 40px;
			background: rgba(226, 83, 77, 0.8);
			display: inline-block;
			font-weight: bold;
			text-transform: uppercase;
		}
		.slider__t {
			width: 300px;
			padding: 10px;
			border-radius: 5px;
			display: inline-block;
			margin: 10px 0 0 0;
			color: $white;
			font-size: 14px;
			line-height: 20px;
			background: rgba(0, 0, 0, 0.6);
		}
	}
	.slider__left,
	.slider__rigth {
		width: 53px;
		height: 60px;
		cursor: pointer;
		margin: 230px 0 0 0;
		display: inline-block;
		position: relative;
		z-index: 1;
		background: url(../img/header/sliderBottum.png);
	}
	.slider__left {
		float: $fl-l;
	}
	.slider__rigth {
		background-position: -51px 0;
		float: $fl-r;
	}
	.slider__box {
		width: 10000px;
		height: 500px;
	}
	.slider__radio {
		height: 20px;
		background: #fff;
		.slider__radio-right,
		.slider__radio-center,
		.slider__radio-left {
			width: 60px;
			height: 5px;
			background: $sliderBG;
			display: inline-block;
		}
		.slider__radio-left {
			margin: 0 0 0 500px;
		}
		.slider__radio-right:active,
		.slider__radio-center:active,
		.slider__radio-left:active {
			background: $red;
		}
	}
}