body {
	width: 100%;
	height: 100%;
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600);
	font-family: 'Open Sans', sans-serif;
	background: url(../img/siteImg/bgTop.jpg) no-repeat center 0;
}
a {
	text-decoration: none;
}
// wrapper
.wrapper {
	width: 942px;
	margin: 0 auto;
}
h1 {
	display: inline-block;
	margin: 50px 0 0 2px;
}
.logo {
	color: #fff;
	font-size: 19px;
	font-weight: 700;
}

// check in

.check {
	width: 160px;
	height: 36px;
	float: right;
	margin: 38px 0 0 0;
}
.check__logIn {
	color: #fff;
	font-weight: 600;
	margin: 10px 0 0 6px;
	display: inline-block;
}
.check__signUp {
	color: #fff;
	float: right;
	font-size: 14px;
	border: 2px solid #fff;
	padding: 9px 18px;
	border-radius: 20px;
}
h2 {
	color: #fff;
	font-size: 53px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 150px 0 0 201px;
	padding: 0 0 0 100px;
}
h2>span {
	display: block;
	position: relative;
	top: 6px;
	right: 72px;
}
.headline__H2 {
	color: #fff;
	font-size: 22px;
	margin: 42px 0 0 276px;
}
.headline__link {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	padding: 12px 24px;
	border-radius: 20px;
	margin: 39px 0 0 360px;
	background: #ff4e50;
	transition: 0.4s;
}
.headline__link:hover {
	color: #ff4e50;
	background: #fff;
}

// works
.works {
	width: 950px;
	margin: 300px 0 0 0;
	h3 {
		font-size: 22px;
		font-weight: 700;
		padding: 30px 8px 0 0;
		text-align: center;
		display: block;
		opacity: 0.7;
	}
}
.works__step1,
.works__step2,
.works__step3 {
	width: 300px;
	height: 400px;
	overflow: hidden;
	margin: 38px 0 0 1px;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;

}
.works__step2 {
	margin-left: 16px;
}
.works__step3 {
	margin-left: 16px; 
}