body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../img/imgSite/bg.jpg);
	font-family: 'Open Sans', sans-serif;
}
/*top line*/
.top_line {
	width: 100%;
	padding: 0 0 0 20px;
	height: 27px;
	background: #4e4e4e;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
}
.favorites,
.share {
	text-decoration: none;
	color: #fff;
	margin: 0 20px 0 0;
	line-height: 25px;
	transition: 0.2s;
}
.favorites:hover,
.share:hover {
	color: #eb9e30;
}
/*wrapper*/
.wrapper {
	width: 960px;
	margin: 0 auto;
}
/*logo*/
.logo {
	/*text-decoration: none;*/
	font-size: 44px;
	font-weight: bold;
	color: #e6a01d;
	margin: 33px 0 0 0;
	display: inline-block;
	opacity: 0.8;
	transition: 0.2s;
}
.logo span {
	color: #bebebe;
}
.logo:hover {
	opacity: 1;
}
/*menu*/
.bg_menu {
	width: 954px;
	height: 36px;
	background: #fff;
	padding: 3px;
	margin: 33px 0 0 0;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.2);
	/*float: left;*/
}
.menu {
	width: 945px;
	height: 27px;
	padding: 3px;
	border: 1px solid #ecc14c;
	border-radius: 3px 3px 1px 1px;
	background: rgba(227,174,27,1);
	background: -moz-linear-gradient(top, rgba(227,174,27,1) 0%, rgba(232,152,31,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,174,27,1)), color-stop(100%, rgba(232,152,31,1)));
	background: -webkit-linear-gradient(top, rgba(227,174,27,1) 0%, rgba(232,152,31,1) 100%);
	background: -o-linear-gradient(top, rgba(227,174,27,1) 0%, rgba(232,152,31,1) 100%);
	background: -ms-linear-gradient(top, rgba(227,174,27,1) 0%, rgba(232,152,31,1) 100%);
	background: linear-gradient(to bottom, rgba(227,174,27,1) 0%, rgba(232,152,31,1) 100%);
}
.menu li {
	display: inline;
	border-left: 1px dotted #fff;
}
.menu li:first-child {
	border:0;
}
.menu a {
	color: #fff;
	margin: 0 10px 0 10px;
	line-height: 28px;
	text-decoration: none;
	transition: 0.2s;
}
.menu a:hover {
	/*color: #eeeeee;*/
	-webkit-filter: blur(1px);
	filter: blur(1px);
}
.bg_menu input {
	width: 200px;
	height: 20px;
	padding: 0 3px 0 3px;
	float: right;
	position: relative;
	bottom: 29px;
	margin: 0 6px 0 0;
}
/*box content*/
.box_content {
	width: 954px;
	padding: 3px;
	background: rgba(255, 255, 255, 0.2);
	margin: 7px 0 0 0;
	border-radius: 3px;
}
.boxcontent {
	width: 932px;
	min-height: 20px;
	border-radius: 3px;
	background: #efefef;
	padding: 11px;
}
/*popular*/
.popular p {
	color: #e6a01d;
	font-size: 30px;
	font-weight: bold;
}
.popular span {
	color: #606060;
}
.popular_slider {
	width: 705px;
	height: 144px;
	background: #fff;
	margin: 10px 0 0 0;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}
.slider_left,
.slider_right {
	width: 45px;
	height: 45px;
	border-radius: 30px;
	margin: 45px 10px 0 10px;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	display: inline-block;
	transition: 0.2s;
}
.slider_left {
	background: url(../img/imgSite/slider.png) no-repeat 12px 14px #e6a01d;
	float: left;
}
.slider_right {
	background: url(../img/imgSite/slider.png) no-repeat 12px 14px #e6a01d;
	float: right;
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.slider_left:hover,
.slider_right:hover {
	opacity: 0.8;
}
.slider_box {
	width: 570px;
	height: 142px;
	float: left;
	overflow: hidden;
}
.slider {
	width: 10000px;
	height: 120px;
	padding: 10px 0 10px 0;
	position: relative;
}
.slider_content {
	display: inline-block;
}
.slider_content a {
	font-size: 12px;
	display: block;
	font-style: italic;
	font-weight: bold;
	font-size: 12px;
	color: #000;
	text-decoration: none;
}
.slider_content a:hover {
	text-decoration: underline;
}
.slider_content li {
	width: 110px;
	text-align: center;
	display: inline-block;
	/*margin: 0 15px 0 0;*/
}
.slider_content img {
	height: 110px;
}