body {
	background-image: url(../img/background.jpg);
	background-size: 100%;
}
.wrapper {
	margin: 0 auto;
	width: 900px;
}
.logo {
	width: 263px;
	height: 147px;
	margin: 0 0 0 70px;
	background-image: url(../img/logo/logo.png);
}
.logo img {
	width: 260px;
	height: 100px;
	margin: 50px 0 0 0;
}
.contactUS {
	float: right;
	margin: -70px 0 0 0;
	line-height: 19px;
	color: white;
}