@media (max-width: 480px) {
	.logo {
		margin: 50px 0 0 160px;
	}
	.slider {
		position: relative;
		bottom: 100px;
		height: 250px;
	}
	.slider__left,
	.slider__right {
		width: 25px;
		height: 250px;
		display: inline-block;
	}
	.slider__h1 {
		font-size: 23px;
	}
	.slider__h2 {
		font-size: 16px;
	}
	.slider__img {
		height: 250px;
	}
	.slider__text {
		display: none;

	}
	.company {
		height: 900px;
	}
	.company__box1,
	.company__box2,
	.company__box3 {
		float: left;
		width: 400px;
		height: 225px;
		margin: 80px 0 0 0;
		display: block;

	}
	.PINGBULLER__box {
		width: 480px;
		margin: 115px auto auto;
	}
	.PINGBULLER__form {
		position: relative;
		bottom: 100px;
		left: 150px;
	}
	.info_footer {
		height: 900px;

	}
	.info_footer_box {
		width: 480px;
	}
	.info_footer_box1,
	.info_footer_box2,
	.info_footer_box3 {
		float: left;
		width: 313px;
		height: 200px;
		margin: 90px  0 0 30px;
		display: inline-block;
	}
	.PINGBULLER {
		height: 800px;
	}
	.pre_footer {
		width: 345px;
		height: 154px;
		margin: 220px auto;
		background: url(../img/slider/pre_footer480.png);
	}
	.pre__a {
		width: 64px;
		height: 64px;
		display: inline-block;
	}
	.pre1 {
		margin: 0 0 0 70px;
	}
	.pre2 {
		margin: 0 0 0 60px;
	}
	.pre3 {
		margin: 10px 0 0 0;
	}

	.pre5 {
		margin: 0 0 0 70px;
	}
	.footer__menu {
	width: 480px;
	margin: 0 auto;
	line-height: 120px;
}
.footer__li {
	display: inline;
	margin: 0 5px 0 5px;
}
.footer__a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.45);
}

}