.wrapper {
	font-family: 'Oswald', sans-serif;
	background: url(../img/wrapper/lg-bg.jpg) center -500px no-repeat;
}
.logo_menu {
	width: 960px;
	margin: 0 auto;
}
.logo {
	display: inline-block;
	margin: 50px 0 0 0;
	width: 151px;
	height: 53px;
	background: url(../img/wrapper/logo.png);
}
.menu {
	position: relative;
	bottom: 30px;
	margin: 0 0 0 250px;
}
.menu__li {
	margin: 0 20px 0 0;
	display: inline;
}
.menu__a {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.55);
}
.menu__a:hover {
	border-bottom: 2px solid #edbfff;
}
/**/
.slider {
	height: 400px;
	margin: 150px auto;
	background: rgba(0, 0, 0, 0.45);
}
.slider__box {
	width: 1600px;
	height: 400px;
	margin: 0 auto;
}
.slider__left,
.slider__right {
	width: 25px;
	height: 400px;
	display: inline-block;
}
.slider__left {
	float: left;
	background: url(../img/slider/slider_left.png) 0 center no-repeat;
}
.slider__right {
	float: right;
	background: url(../img/slider/slider_left.png) -25px center no-repeat;
}
.slider__img {
	float: right;
	margin: 0 150px 0 0;
}
.slider___h1,
.slider___h2,
.slider___text {
		margin: 0 0 0 290px;
	position: relative;
top: 80px;
}
.slider___h1 {
	font-size: 30px;
color: #fff;
}
.slider___h2 {
	width: 250px;
text-transform: uppercase;
font-size: 20px;
color: #edbfff;
}
.slider___text {
	width: 400px;
	color: #e3e3e4;
}