.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
	background: url(../img/wrapper/lg-bg.jpg) center -500px no-repeat;
}
header {
	max-width: 960px;
	margin: 55px auto auto;
}
/*logo*/
.logo {
	width: 151px;
	height: 53px;
	float: left;
	display: inline-block;
	background: url(../img/wrapper/logo.png);
}
/*menu*/
nav {
	float: left;
	margin: 20px 0 0 100px;
}
.menu__li {
	display: inline;
	margin: 0 0 0 25px;
}
.menu__a {
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 21px;
	color: #fff;
}
.menu__a:hover {
	border-bottom: 2px solid #edbfff;
}
/*slider*/
.slider {
	clear: both;
	max-width: 2400px;
	height: 400px;
	border: 1px solid #8c8a8a;
	margin: 170px auto auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.slider__left {
	width: 24px;
	height: 400px;
	float: left;
	display: inline-block;
	background: url(../img/slider/slider_left.png) 0 center no-repeat;
}
.slider__right {
	width: 24px;
	height: 400px;
	float: right;
	display: inline-block;
	background: url(../img/slider/slider_left.png) -25px center no-repeat;
}
.slider__left,
.slider__right {
	margin: 0 1% 0 1%;
}
.slider__box {
	max-width: 960px;
	margin: 0 auto;
}
.slider__h1 {
	margin: 80px 0 0 0;
	font-size: 45px;
	color: #fff;
}
.slider__h2 {
	text-transform: uppercase;
	font-size: 24px;
	color: #edbfff;
	padding: 10px 0 10px 0;
}
.slider__text {
	width: 480px;
	line-height: 20px;
	color: #e4e3e6;
}
.slider__h1,
.slider__h2,
.slider__text,
.company__h1,
.company__text {
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
}
.slider__img {
	max-width: 260px;
	float: right;
	position: relative;
	bottom: 110px;
}
.slider__radio {
	float: right;
	margin: 90px 0 55px 0;
}
.slider__radio > input {
	width: 20px;
	height: 20px;
}
/*company*/
.company {
	clear: both;
	max-width: 2400px;
	height: 339px;
	margin: 0 auto;
	border-top: 1px solid #33253a;
	border-bottom: 1px solid #1d2f37;
	background: #745083;
	background: -moz-linear-gradient(top, #745083 0%, #322539 100%);
	background: -webkit-linear-gradient(top, #745083 0%,#322539 100%);
	background: linear-gradient(to bottom, #745083 0%,#322539 100%);
}
.company__box960 {
	width: 960px;
	margin: 71px auto auto;
}
.company__box1,
.company__box2,
.company__box3 {
	width: 288px;
	height: 222px;
	float: left;
	display: inline-block;
}
.company__img,
.company__img1,
.company__img2 {
	width: 30px;
	height: 220px;
	float: left;
	margin: 0 10px 0 10px;
	display: inline-block;
}
.company__img {
	background: url(../img/wrapper/sp-about.png) no-repeat;
}
.company__img1 {
	background: url(../img/wrapper/sp-about.png) -32px 0 no-repeat;
}
.company__img2 {
	background: url(../img/wrapper/sp-about.png) 28px 0 repeat-x;
}
.company__h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 22px;
	float: left;
}
.company__text {
	margin: 40px 0 0 0;
	color: #e1e1e1;
	line-height: 20px;
}
.company__a {
	font-size: 14px;
	color: #fff;
	float: right;
	margin: 35px 30px 0 0;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.3s;
}
.company__a:hover {
	transition: 0.3s;
	text-shadow: 0px 0px 6px rgba(247, 247, 247, 0.75);
}
/*pingbuller*/
.pingbuller {
	max-width: 2400px;
	height: 384px;
	margin: 0 auto;
	border-top: 1px solid #0d151b;
	border-bottom: 1px solid #e6e6e6;
	background: #f9f9f9;
}
.pingbuller__box {
	width: 960px;
	margin: 100px auto auto;
}
.pingbuller__starts {
	width: 458px;
	height: 315px;
	display: inline-block;
	background: url(../img/starts.png) no-repeat;
}
.pingbuller__aimg {
	width: 50px;
	height: 50px;
	position: relative;
	right: 10px;
	margin: 20px 0 0 0;
	display: inline-block;
	background: url(../img/wrapper/sp-pingbuller.png);
}
.pingbuller__h1 {
	text-transform: uppercase;
	display: inline;
	color: #000;
	font-size: 22px;
	position: relative;
	bottom: 13px;
}
.pingbuller__h1 > span {
color: #edbfff;
}
.pingbuller__text {
	max-width: 360px;
	font-weight: 300;
	line-height: 23px;
	margin: 0 0 0 50px;
}
/*resent*/
.resent {
	width: 426px;
	height: 200px;
	border: 1px solid #000;
}