// Color
$colorWhite: #fff;
$colorBorderSearch: #f3f3f3;
$contactColorTitle: #35924b;
$contactTelColor: #595959;
$BorderColorTopNews: #f5f5f5;
$colorBgLinkTopProject: #35924b;
$colorGray: #7a7a7a;
$boxColorLoading: #e0e0e0;
$colorBoxLoad: #35924b;
$colorBlack: #000;
$colorGreen: #35924b;
$supportLinkColor: #73307f;
$backgroundSupportBox: #f3f3f3;
$borderColorSupportBox: #e6e6e6;
$h1titleSupportBox: #757575;
$backgroundCommunication: #f9f9f9;
$colorBordersubscribe: #dedede;
$backgroundCommunicationSubmit: #73307f;
$backgroundFooter: #2c2c2c;
$colorBorderSocial: #8e8e8e;
$colorBacgroundSocial: #424242;
$colorBorderIncident: #b9b9b9;
$colorBorderCopyRigth: #737373;
$colorTextCopyRigth: #737373;
// other
$mAuto: 0 auto;
$inlineB: inline-block;
$floatL: left;
$floatR: right;
$H1FontSize: 20px;