.works {
	width: 960px;
	margin: 100px auto;
}
.works__step-one,
.works__step-two,
.works__step-three {
	width: 300px;
	height: 400px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;
	border: 1px solid #000;
}
.works__step-one {
	margin: 0 0 0 3px;
}
.works__step-two {
	margin: 0 0 0 20px;
}
.works__step-three {
	margin: 0 0 0 20px;
}
.works__left,
.works__right {
	width: 30px;
	height: 55px;
	display: inline-block;
	margin-top: 150px;
	opacity: 0.4;
	transition: 0.3s;
	position: relative;
	z-index: 1;
}
.works__left {
	float: left;
	margin-left: 20px;
	background: url(../img/worksLeft.png);
}
.works__right {
	float: right;
	margin-right: 20px;
	background: url(../img/worksRigth.png);
}
.works__left:hover,
.works__right:hover {
	opacity: 0.7;
}
.works__content {
	width: 300px;
	height: 400px;
	position: relative;
	top: 0;
	left: 0;
}
.works__content img {
		position: absolute;
	top: 0;
	left: 0;
}
.works__link {
	height: 40px;
	display: inline-block;
	margin: 250px 0 0 -30px;
}
.works__link,
.works__title,
.works__text {
	position: relative;
	z-index: 1;
}
.works__title,
.works__text  {
	width: 280px;
	margin: 0 0 0 20px;
}