@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,400italic,700);

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
background: #ddd;
}
.top__line {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid black;
	background: #0068b9;
}
.logo {
	color: #fff;
	font-weight: 600;
	font-size: 30px;
	line-height: 50px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 0 0 5%;
	float: left;
}
.logo span {
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
	opacity: 0.3;
	font-style: italic;
}
.controlls {
	float: right;
	margin: 6px 5% 0 0;
	display: inline-block;
}
.item-value {
	width: 170px;
	height: 20px;
	padding: 0 25px 0 5px;
	opacity: 0.5;
	transition: 0.3s;
}
.item-add {
	width: 25px;
	height: 25px;
	border: 0;
	position: relative;
	right: 30px;
	top: 7px;
	background: url(../img/button__add.png);
}
.item-value:focus {
	opacity: 0.8;
}
.wrapper {
	width: 500px;
	height: 500px;
	margin: 5% auto;
	padding: 10px;
	background: url(../img/hotepad.png);
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.30);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.30);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.30);
}
.item-list {
	margin: 53px 0 0 0;
}
.item-list li {
	color: #1c27b7;
	font-size: 16px;
	font-style: italic;
	padding: 4px 0 0 0;
}
.item-delete:after {
content: url(../img/close.png);
position: absolute;
padding: 0 0 0 10px;
}
.footer {
	width: 100%;
	height: 50px;
	border-top: 1px solid #888;
	background: #999;
	position: absolute;
	bottom: 0;
}
.autor {
	color: #fff;
	margin: 0 0 0 5%;
	line-height: 50px;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	opacity: 0.5;
	transition: 0.3s;
	float: left;
}
.autor:hover {
opacity: 1;
}
.copyrigth {
	display: inline-block;
	float: right;
	margin: 0 5% 0 0;
	line-height: 50px;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	opacity: 0.4;
}