/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 1160px;
  margin: 35px auto auto;
}

.logo {
  width: 205px;
  height: 37px;
  display: inline-block;
  background: url("../img/logo/logo.png");
  transition: 0.4s;
}

.logo:hover {
  background-position: 0 -39px;
}

.social {
  height: 20px;
  margin: 8px 0 0 0;
  float: right;
}

.social .social__item {
  display: inline-block;
}

.social .social__link {
  display: inline-block;
}

.social .facebook,
.social .twitter,
.social .rss,
.social .linkedin,
.social .skype {
  margin: 0 0 0 15px;
  background: url("../img/social/social.png");
  transition: 0.4s;
}

.social .facebook {
  width: 9px;
  height: 17px;
}

.social .twitter {
  width: 15px;
  height: 17px;
  background-position: -10px 0;
}

.social .rss {
  width: 15px;
  height: 17px;
  background-position: -27px 0;
}

.social .linkedin {
  width: 16px;
  height: 17px;
  background-position: -43px 0;
}

.social .skype {
  width: 18px;
  height: 17px;
  background-position: -60px 0;
}

.social .facebook:hover {
  background-position: 0 19px;
}

.social .twitter:hover {
  background-position: -10px 19px;
}

.social .rss:hover {
  background-position: -27px 19px;
}

.social .linkedin:hover {
  background-position: -43px 19px;
}

.social .skype:hover {
  background-position: -60px 19px;
}

.menu {
  width: 1160px;
  height: 54px;
  margin: 38px 0 0 0;
  background: #2a2d32;
}

.menu .menu__item {
  padding: 0 25px 0 25px;
  line-height: 54px;
  display: inline-block;
  border-right: 1px solid #000;
}

.menu .menu__item:first-child {
  background: #248cec;
}

.menu .menu__link {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.menu .menu__link:hover {
  color: #f4b60d;
}

.menu .search {
  width: 188px;
  height: 15px;
  float: right;
  padding: 10px 40px 10px 10px;
  color: #8e9296;
  position: relative;
  bottom: 46px;
  right: 7px;
  background: #35383c;
  border: 1px solid #000;
}

.menu .search__buttom {
  cursor: pointer;
  width: 40px;
  height: 37px;
  position: relative;
  left: 232px;
  bottom: 46px;
  border: 0;
  background: url("../img/search/search.png");
  float: right;
}