$searchBgColor: #f5f5f5;
$searchBorderColor: #e5e5e5;
$newsHeaderBorder: #e5e5e5;
$articleLinkTextColor: #000;
$articleAutorText: #888888;
$postsTitleLinkColor: #000;
$colorBlockquoteBg: #f9f8f4;
$colorBorderLeftBlockquote: #edebdc;
$colorBorderBlockquote: #edebdc;
$tableBorderColor: #e5e5e5;
$footerBorderTop: #e5e5e5;
$interestingQBG: #f9f8f4;
$interestingNewsTextColor: #000;
