body {
	font-family: 'Oswald', sans-serif;
	color: #717171;
	background: #e9e9e9;
}
/*top line*/
.top_line {
	width: 100%;
	height: 27px;
	background: #fff;
	border-bottom: 1px solid #d9d9d9;
}
/*top menu*/
.top_menu {
	width: 960px;
	margin: 0 auto;
}
.top_menu li {
	display: inline;
	line-height: 27px;
	margin: 0 5px 0 0;
	font-size: 13px;
}
.top_menu a {
	text-decoration: none;
	color: #717171;
	transition: 0.4s;
}
.top_menu a:hover {
	transition: 0.4s;
	text-decoration: underline;
	color: #8f8e8e;
}
/*social*/
.top_menu .social {
	width: 15px;
	height: 15px;
	float: right;
	margin: 3px 0 0 4px;
	display: inline;
	/*border: 1px solid #000;*/
}
.facebook,
.delicious,
.flickr,
.friendfeed,
.tumblr,
.twitter {
	width: 17px;
	height: 16px;
	display: inline-block;
}
.facebook {
	background: url(../img/top_line/social.png) 0 0;
}
.delicious {
	background: url(../img/top_line/social.png) -20px 0;
}
.flickr {
	background: url(../img/top_line/social.png) -42px 0;
}
.friendfeed {
	background: url(../img/top_line/social.png) -62px 0;
}
.tumblr {
	background: url(../img/top_line/social.png) -84px 0;
}
.twitter {
	background: url(../img/top_line/social.png) -104px 0;
}
/*wrapper*/
.wrapper {
	width: 960px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
}
.logo {
	width: 182px;
	height: 30px;
	background: url(../img/logo/logo.png);
	margin: 38px 0 0 0;
	display: inline-block;
}
/*menu*/
.menu {
	width: 100%;
	height: 33px;
	line-height: 33px;
	background: #fff;
	margin: 38px 0 0 0;
	border-bottom: 1px solid #d9d9d9;
}
.menu li {
	display: inline-block;
	margin: 0 20px 0 20px;
}
.menu a {
	text-decoration: none;
	color: #717171;
	text-transform: uppercase;
	transition: 0.2s;
}
.menu a:hover {
	transition: 0.2s;
	color: #8f8e8e;
	text-decoration: underline;
}
/*top news*/
.top_news {
	width: 940px;
	height: 261px;
	background: #fff;
	margin: 18px 0 0 0;
	padding: 10px;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}
.top_min_news {
	width: 280px;
	height: 261px;
	float: right;
}
.top_min_news
.box_one,
.box_two,
.box_tree,
.box_four {
	width: 280px;
	height: 63px;
}
.top_min_news
.box_two,
.box_tree,
.box_four {
	margin: 5px 0 0 0;
}
.top_min_news
.box_one,
.box_two,
.box_tree,
.box_four
.top_img {
	border-bottom: 2px dotted #c2c2c2;
}
.top_min_news img {
	width: 60px;
	height: 50px;
	margin: 0 10px 0 0;
	float: left;
}
.top_min_a {
	text-decoration: none;
	line-height: 20px;
	color: #959595;
}
.top_min_a:hover {
	color: #7da1bc;
}
.top_img img {
	width: 650px;
	height: 263px;
}
.top_title {
	width: 630px;
	height: 50px;
	background: rgba(176, 182, 182, 0.6);
	padding: 10px;
	position: relative;
	bottom: 70px;
	color: #2c2b2c;
	font-weight: bold;
}
.top_title .min_news {
	font-size: 14px;
	line-height: 35px;
}
.lBox,
.RBox {
	width: 220px;
}
.lBox {
	float: left;
}
.RBox {
	float: right;
}
.left_box,
.rigth_box {
	width: 200px;
	min-height: 20px;
	padding: 10px;
	background: #fff;
	margin: 14px 0 0 0;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	display: block;
}
.box_post {
	border-bottom: 2px dotted #c2c2c2;
	padding: 0 0 10px 0;
	color: #696969;
	text-transform: uppercase;
}
.box_post_info {
	width: 200px;
	height: 50px;
	margin: 10px 0 0 0;
}
.box_post_info img {
	width: 60px;
	height: 50px;
	float: left;
}
.box_post_info_p {
	width: 135px;
	line-height: 15px;
	font-size: 12px;
	float: right;
}
.box_post_info_a {
	text-decoration: none;
	font-size: 10px;
	font-style: italic;
	color: #b7b7b7;
}
/**/
.articles {
	width: 464px;
	min-height: 60px;
	background: #fff;
	padding: 0 10px 0 10px;
	margin: 14px 0 0 18px;
	float: left;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}